@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
  font-family: "poppins";
}
ul{
  list-style-type: none;
}

.slick-next
{
    right: 25px;
}

[dir='rtl'] .slick-next
{
    right: auto;
    left: 25px;
}

.slick-prev
{
    left: 25px;
}
[dir='rtl'] .slick-prev
{
    right: 25px;
    left: auto;
}